$color_primary: #00287c;
$color_secondary: #1c59d6;
$color_thirty: #ea0a2a;
$color_four: #042963;
$color_five: #00aeef;
$color_six: #000f2d;
$color_seven: #00548c;
$color_success: #28a745;
$color_info: #17a2b8;
$color_warning: #ffc107;
$color_danger: #dc3545;
$color_light: #f8f9fa;
$color_dark: #343a40;